<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>I Read This</title>
	<link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
	</head>
	<body>
<h1>I Read This</h1>
        <form method="POST" action="/add-article">
        <label for="url">Article url:</label>
        <input id="url" name="url" type="text">
        <input type="submit" value="submit">
        </form>
		<ul>
			{% for link in links %}
<li><p><a href="{{ link['url'] }}">{{ link['url'] }}</a> - {{ link['added_at'] }} <a href="/archive/{{ link['id'] }}">[archive]</a></li>
			{% endfor %}
		</ul>
	</body>
</html>
