<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>I Read This</title>
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body>
        <form method="POST" action="/add-article">
        <label for="url">Article url:</label>
        <input id="url" name="url" type="text">
        <input type="submit" value="submit">
        </form>
		<ul>
			{% for link in links %}
			<li><p>{{link['url']}} - {{ link['added_at']}}</li>
			{% endfor %}
		</ul>
	</body>
</html>
